@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Abdelrahman , Hello from Docker Image!</h1>
    </h1>أهلا وسهلا من المطور عبدالرحمن</1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
